<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Oho! Katso ällistyttävät clickbait-tilastot!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script type="text/javascript" src="<%= static_path(@conn, "/js/jquery.js") %>"></script>
    <script type="text/javascript" src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script type="text/javascript" src="<%= static_path(@conn, "/js/dygraph.js") %>"></script>
  </head>

  <body>
    <div class="container" role="main">

      <%= @inner %>

    </div> <!-- /container -->
    <script type="text/javascript" src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
