<div class="jumbotron">
  <h1>
    Huhhuh! Et usko, kuinka pitkälle nämä lehdet menivät saadakseen klikkauksia!
  </h1>
  <p>
    Katso järkyttävät tilastot alta.
  </p>
</div>

<h2>
  Mitä tämä on?
</h2>

<p>
  Verkkojournalismiin on nykyisin syöpynyt huolestuttava ilmiö, <em>clickbait</em>. Clickbait tarkoittaa lukijoiden
  houkuttelemista otsikoilla, jotka dramatisoivat ja revittelevät, vaikka itse uutinen olisikin täysin tavanomainen.
  Samalla otsikot välttävät paljastamasta, mistä asiassa on oikeasti kyse, jotta lukijan olisi pakko avata artikkeli
  selvittääkseen.
</p>

<p>
  Tämä sivusto analysoi joukon suomalaisia verkkolehtiä käyttäen huipputieteellistä algoritmia. Se etsii valtakunnan
  pahimmat clickbait-otsikot ja surkeimmat lehdet, jotta sinä voit tehdä järkeviä päätöksiä siitä, minkä lukemiseen
  käytät aikaasi.
</p>

<hr />

<h2>
  Lehtien clickbait-pisteiden historia
</h2>

<div id="all_series" style="width:100%; height:400px;"></div>

<hr />

<h2>
  Tämän hetken 💩:t otsikot
</h2>

<table class="table" id="top_title_table">
  <thead>
    <tr>
      <!--<th>№</th>-->
      <th>Pst</th>
      <th>Lehti</th>
      <th>Otsikko</th>
      <th>Syyt</th>
      <th>Haettu</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <!--<th>№</th>-->
      <th>Pst</th>
      <th>Lehti</th>
      <th>Otsikko</th>
      <th>Syyt</th>
      <th>Haettu</th>
    </tr>
  </tfoot>
  <tbody>
    <%= for {title, i} <- Enum.with_index @top_titles do %>
      <tr>
        <!--<td><%= i + 1 %></td>-->
        <td><%= title.total_score %></td>
        <td><%= title.fetch.magazine.name %></td>
        <td><%= title.title %></td>
        <td>
          <%= for title_score <- title.title_scores do %>
            <%= title_score.score_type %>: <%= title_score.score_amount %><br />
          <% end %>
        </td>
        <td><%= title.fetch.inserted_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  var $ = require('jquery');
  var Dygraph = require('dygraphs');

  var elem = document.getElementById('all_series');

  var data = <%= raw @all_series %>;
  data.map(function (elem) {
    elem[0] = new Date(elem[0]);
    return elem;
  });

  var labels = <%= raw @magazines %>;
  labels = ["x"].concat(labels);

  new Dygraph(elem, data, {
    labels: labels
  });
</script>
